
.recommended-container {
    margin-left: auto; 
    margin-right: auto; 
    /* max-width: 1200px;
    width: 100vw;
    height: 100vh;   */
}


.recommended-title{
    margin-left:18rem;
    position:relative;
    text-align: center;
    margin-bottom:25px;
    margin-top:20px;
    font-size:28px;
    font-family: Open sans-serif;
    color:#0061B1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);

}
.recommended-flex{
    display:flex;
    margin-left:27rem;
    gap:8rem;
    font-size:18px;
    margin-bottom:5px;
}

.lien {
   
    text-decoration: none; 
  
    
}

.lien:hover {
    text-decoration: underline;
    color:#0061B1;
    
}


 .card-container{
    display:flex;
    flex-wrap:wrap;
    margin-left:18.5rem;
    margin-top:1rem;
    z-index:-2;
}
.card {
    margin: 8px;
    border: 2px solid #ededed;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 345px;
    display: flex;
    flex-direction: column; 
    width:31%;
}
.card > img {
    width:11rem;
    max-width: 100%; 
    max-height: 150px; 
    display: block; 
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.title{
    margin-bottom:0.15rem;
    color:#0061B1;
    text-align:center;

}
.card-reviews{
    margin-bottom:0.5rem;
    display:fex;
    gap:0.5rem;
}

.card-review{
    text-align:center;
    margin-bottom:0.10rem;
}
.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0061B1;
    margin-right: 5px; 
}

.icon-circle svg {
    color: white; 
    width:1000%;
    height:50%;
    padding-left:5px;
    /* padding-bottom:2px; */
    
}
.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    max-width: 100%; 
    height: auto;  
    
}



.sidebar {
    position:absolute; 
    top: 1rem; 
    left: 0; 
    width: 20rem; 
    height: 110%; 
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top:86px; 
    gap: 2rem;
} 


 .search {
    background-color: #0061B1;
    border-radius: 5px;
    display:flex;
    position:relative;
} 

.search-bar{
    padding: 15px 20px;
    width:14rem;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;    
    background-color: transparent;
    font-size:1rem;
    color:White;

   
   
   

}
.search-bar::placeholder {
     color:white; 
}



.submenu {
    position: absolute;
    top: 100%;
    left: 0px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width:100%;
    list-style: none;
    z-index: 999;
}


.submenu li {
    cursor: pointer;
}

.submenu li:hover {
    background-color:#0061B1;
}

.pagination {
    display: flex;
    margin-top: 30px; 
   justify-content:center;
   margin-left:15rem;
  }
  
  
  
  .pagination button {
    margin: 0 10px; 
    padding: 4px 4px; 
    font-size: 16px; 
    border: none; 
    background-color: #0061B1; 
    color: #fff; 
    cursor: pointer;
    border-radius:2px;
  }
  
  .pagination button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
 

  
  @media screen and (max-width: 1000px) {
    .recommended-flex {
        flex-direction: row;       
        /* align-items: center; 
        justify-content: center;  */
        gap: 4rem;
        margin-left: 32vw; 
    }
    .sidebar {
    position:absolute;
        
        width: 20rem;
        padding: 25px; 
        margin-left: auto;
        margin-right: auto; 
      
    }

    .search-bar {
        width: 12rem; 
        padding: 15px 20px; 
    }










  }
  @media screen and (max-width: 950px) {
    
    .recommended-title {
        margin-left: 0; 
        text-align: center; 
    }

   
    .recommended-flex {
        flex-direction: row;       
         align-items: center; 
        justify-content: center; 
        gap: 4rem;
        margin-left: -5vw; 
    }

    

   
    .card-container {
        width: 100%; 
        margin-left: 0; 
        margin-top:35vh;
        justify-content: center; 
        gap:10px;
    }

   
    .card {
        width: 45%; 
        margin-left: auto;
        margin-right: auto; 
        max-width:260px;
    }

  
    .lien {
        margin-bottom: 1rem; 
    }
}

@media screen and (max-width: 950px) {
    .sidebar {
        position:absolute;
        left:0;
        right:0;
        width: 20rem; 
        padding: 25px;
        margin-left: auto;
        margin-right: auto; 
      
    }

    .search-bar {
        width: 12rem; 
        padding: 15px 20px;
    }
}









