.publications {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.149);
    top:260px;
  }
  .pub_image {
    position: absolute;
    top: 10px;
   left:780px;
    width: 157px;
    height: 165px;
    object-fit: cover;
  }
  .pub_highlight1 {
    /* position: absolute; */
    top: 58px;
    left: 20px;
    width: 568px;
    height: 36px;
    font: 400 15px/1.2 "Roboto", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .pub_highlight {
    /* position: absolute; */
    top: 26px;
    left: 20px;
    width: 372px;
    height: 21px;
    font: 700 18px/1.16 "Roboto", Helvetica, Arial, serif;
    color: rgb(0, 97, 177);
   
  }
  .pub_info {
    /* position: absolute; */
    top: 50%;
    left: 20px;
    width: 79px;
    height: 8px;
    font: 400 7px/1.14 "Roboto", Helvetica, Arial, serif;
    color: rgb(130, 130, 130);
    transform: translate(0, -50%);
  }
 