.details-container {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 60%;
    border-radius: 5px;
    height: fit-content;
  }
  
  .details-title {
    color: #0056b3; /* Couleur bleue pour le titre */
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  
  .details-metadata {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5%;
  }
  
  .separator {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
  }
  
  .questions-content {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.5;
    margin: 5%;
    font-weight: bold;
  }
  
  .admin-response {
    margin-top: 20px;
    padding: 15px;
    background-color:#1e88e52b;
    border-left: 5px solid #0056b3; /* Blue border for prominence */
    display: flex;
    flex-direction: column;
  }
  .admin-response p{
    margin: 5%;
  }
  
  .admin-response-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .icon-clock {
    color: #666;
    font-size: 1rem;
  }
  
  .response-metadata {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #666;
  }
  
  .response-date {
    font-size: 0.9rem;
    color: #666;
  }
  