

.equipe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 326px;
  min-height: 326px;
}
.first-section{
    position: relative;
    top:-9px;
}
.back-image {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 50%; /* Divise l'écran en deux */
    height: 326px; /* Hauteur de l'écran */
    object-fit: cover; /* Remplit l'espace disponible sans déformer l'image */
}

.cover-img {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0; /* Commence à partir de la moitié de l'écran */
    width: 50%; /* Divise l'écran en deux */
    height: 326px; /* Hauteur de l'écran */
}

.equiipe-desc {
  position: absolute;
  top: 126px;
  right: 556px;
  bottom: 56px;
  left: 98px;
  width: 371px;
  height: 154px;
  font: 400 16px/1.37 "Open Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.equipe-title {
  position: absolute;
  top: 50px;
  right: 538px;
  bottom: 222px;
  left: 63px;
  width: 422px;
  height: 54px;
  font: 400 40px/1.35 "Open Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.equipe-con {
    position:'absolute';
    display: flex;
    flex-direction: column;
    margin-top: 400px; 
    margin-left: 40px; 
  }
.equipe{
   
    border : 1px solid #0061B1;
    margin-bottom:20px;
    border-radius: 8px;
    padding:15px;
    width:900px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
}

.equipe-titre{
    color:#0061B1;
    padding-bottom:10px;
    font: 400 25px/1.35 "Open Sans";
}
.equipe-titre2 {
    font-weight: bold;
    padding-bottom:10px;
    font: 400 22px/1.35 "Open Sans";
}


.plus {
    position: relative; /* Positionnement absolu par rapport à equipe */
    bottom: -10px; /* Aligner en bas */
    right: 10px; /* Aligner à droite */
    padding: 10px; /* Ajouter un peu d'espace autour du contenu */
  
    border-radius: 0 0 8px 8px; /* Coins arrondis en bas */
    cursor: pointer;
    color: #0061B1;
}

span{
    font: 400 15px/1.35 "Open Sans", Helvetica, Arial, serif; 
}
.equipe-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 10px; /* Espace entre les cartes */
  }
  .pagination {
    display: flex;
    margin-top: 30px; 
   justify-content:center;
   margin-left:15rem;
  }
  
  
  
  .pagination button {
    margin: 0 10px; 
    padding: 4px 4px; 
    font-size: 16px; 
    border: none; 
    background-color: #0061B1; 
    color: #fff; 
    cursor: pointer;
    border-radius:2px;
  }
  
  .pagination button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  .equipe-card-container{
    display:flex;
    flex-wrap:wrap;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    z-index:-2;
   
}
.lmcs-card {
    margin: 8px;
    border: 2px solid #ededed;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 345px;
    display: flex;
    flex-direction: column; 
    width:27%;
}

.lmcs-card > img {
    width:11rem;
    max-width: 100%; 
    max-height: 150px; 
    display: block; 
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.annuaire-title{
    margin-bottom:0.15rem;
    color:#0061B1;
    text-align:center;

}

.annuaire-card-reviews{
    margin-bottom:0.5rem;
    display:fex;
    gap:0.5rem;
}

.annuaire-card-review{
    text-align:center;
    margin-bottom:0.10rem;
}

.annuaire-icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0061B1;
    margin-right: 5px; 
}

.annuaire-icon-circle svg {
    color: white; 
    width:1000%;
    height:50%;
    padding-left:5px;
}


.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    max-width: 100%; 
    height: auto;  
    
}


