.lcsi-main-content {
  position: relative; /* Make the parent container position: relative */

}

.lcsi-cover {
  width: 100%; /* Adjust width as needed */
  height: 400px;
}

.top-image {
  position: absolute; /* Position the second image absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1; /* Ensure it's on top */
}

.lcsi-header {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  z-index: 2; /* Ensure it's above both images */
  width: 80%; /* Adjust as needed */
  text-align: center;
  color: white; /* Ensure text is visible on the image */
}
.lcsi-hero_title{
  /* width: 581px; */
  /* height: 195px; */
  font: 400 48px/1.35 "Open Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  margin-left: -70px;
}
.imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-images {
  display: flex;
  justify-content: center;
  gap: 5px; /* Space between the two top images */
}

.bottom-image {
  display: flex;
  justify-content: center;
}


.lcsi-rect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  box-sizing: border-box;
  top: -30px;
  min-height: 252px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  z-index: 100;
}
.lcsi-medium_title {
  top: 14px;
  right:  auto;
  bottom: 232px;
  left: 35%;
  width: 254px;
  height: 33px;
  font: 700 24px/1.37 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.lcsi-highlight {
  font: 400 18px/1.38 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.lcsi-rect2 {
  margin-top: 0px;
  padding: 10px;
  width: calc(100% - 40px);
  min-height: 260px;
  background-color: rgb(0, 97, 177);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.lcsi-rect3 {
  width: 292px;
  height: 54px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 7px 7px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerfacts {
  margin-top: 100px; /* Adjust based on the height of .lcsi-rect3 */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lcsi-medium_title1 {
  font: 700 24px/1.37 "Open Sans", Helvetica, Arial, serif;
  color: #0061B1;
  text-align: center;  
}

.lcsi-hero_title2, .lcsi-hero_title21, .lcsi-hero_title3 {
  font: 700 48px/1.35 "Open Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}

.lcsi-paragraph, .lcsi-paragraph1, .lcsi-paragraph2 {
  font: 600 13px/1.38 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.lcsi-image5, .lcsi-image6, .lcsi-image7 {
  color: white;
}

.lcsi-image5 {
  width: 60px;
  height: 50px;
}

.lcsi-image6 {
  width: 45px;
  height: 45px;
}

.lcsi-image7 {
  width: 46px;
  height: 52px;
}

.lcsi-ep4, .lcsi-ep5, .lcsi-ep6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lcsi-ep4 h1, .lcsi-ep5 h1, .lcsi-ep6 h1 {
  display: inline-block;
  margin: 0;
}

.lcsi-ep4 svg, .lcsi-ep5 svg, .lcsi-ep6 svg {
  display: inline-block;
  vertical-align: middle;
}

.lcsi-ep4 p, .lcsi-ep5 p, .lcsi-ep6 p {
  text-align: center;
}
.lcsi-ep55{
  display: flex;
  gap:10px ;
}
.lcsi-RECT3 {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.lcsi-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lcsi-highlight4 {
  width: 100%;
  max-width: 350px;
  font: 500 16px/1.5 "Lato", Helvetica, Arial, serif;
  color: rgb(82, 82, 82);
  margin-bottom: 20px;
}

.lcsi-box_title2 {
  width: 100%;
  max-width: 451px;
  font: 600 38px/1.35 "Open Sans", Helvetica, Arial, serif;
}

.lcsi-hero_title_span0 {
  font: 600 1em/1.8 "Open Sans", Helvetica, Arial, serif;
  color: black;
}

.lcsi-hero_title_span1 {
  font: 600 1em/1.8 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}

.lcsi-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.lcsi-box {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 10px 35px 0px rgba(0, 0, 0, 0.086);
  overflow: hidden;
  min-height: 291px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 15px;
  box-sizing: border-box;
  max-width:255px;
}

.lcsi-box.active {
  background-color: rgb(0, 97, 177);
  color: white;
}

.lcsi-image00 {
  width: 64px;
  height: 64px;
  filter: invert(31%) sepia(99%) saturate(5637%) hue-rotate(200deg) brightness(99%) contrast(106%);
  transition: filter 0.3s;
}

@media (max-width: 768px) {
  .lcsi-box {
    flex: 0 0 100%;
  }
}
.containercard{
  display: flex;
  gap: 30px;
}
.lcsi-blog_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: black;
}

.lcsi-hero_title_blog {
  text-align: center;
  margin-bottom: 30px;
}

.lcsi-hero_title_b {
  display: inline-block;
}

.lcsi-hero_title_blog0 {
  font: 600 2.2em/1.8 "Open Sans", Helvetica, Arial, serif;
  color: white;
}

.lcsi-hero_title_blog1 {
  font: 600 2.2em/1.8 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}

.containerblog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.lcsi-blog {
  width: 100%;
  max-width: 449px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  padding: 17px;
  gap: 1rem;
}

.lcsi-blog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lcsi-blog_subtitle {
  font: 600 21px/1.33 "Sora", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
  margin-bottom: 10px;
}

.lcsi-blog_highlight {
  font: 500 16px/1.5 "Lato", Helvetica, Arial, serif;
  color: rgb(82, 82, 82);
  margin-bottom: 10px;
}

.lcsi-blog-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font: 500 14px/1.5 "Lato", Helvetica, Arial, serif;
  color: rgb(82, 82, 82);
  margin-bottom: 10px;
}

.lcsi-blog_more {
  font: 500 16px/1.5 "Lato", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
  text-decoration: underline;
}

.lcsi-blog_image {
  width: 126px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .lcsi-blog {
    flex-direction: column;
  }

  .lcsi-blog_image {
    width: 100%;
    height: 200px;
    order: -1;
  }
}

.lcsiparten{
 
}
.lcsi-partenaire {
  padding-bottom:10px;
  
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
  gap: 20px;
}
.lcsi-flex_row{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.lcsi-partenaire_title {
  text-align: center;
  font: 600 2.2em/1.8 "Open Sans", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}

.lcsi-part {
  width: 160px;
  min-width: 0px;
  object-fit: cover;
}

.lcsi-parte1 {
  width: 148px;
  min-width: 0px;
  object-fit: cover;
}

.lcsi-parte2 {
  width: 164px;
  min-width: 0px;
  object-fit: cover;}
  @media (max-width: 768px) {
    .top-images,
    .bottom-image
     {
      display: none;
    }
    .lcsi-cover ,
    .top-image{
      height: auto;
      width: 100%;
    }
  
    .lcsi-hero_title {
      position: relative;
      align-items: center;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      font-size: 24px;
      top:-10px
     
    }}