.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.title-blue {
    color: #0061B1;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.title-black {
    color: #1b1a1a;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

/* Reste de vos styles */
.detail-container {
    max-width: 1024px;
    margin: auto;
    padding: 24px;
    background-color: white;
}

.shadow-card {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 24px;
}

.back-button {
    display: flex;
    background: none; /* Aucun fond */
    color: #0061B1; /* Couleur du texte bleue */
    margin-bottom: 16px;
    align-items: center;
    font-size: 16px; /* Taille du texte */
    font-weight: bold; /* Poids du texte */
    border: none; /* Aucune bordure */
    cursor: pointer; /* Indicateur de pointeur */
    transition: color 0.3s ease; /* Transition pour effet de survol */
    text-align: center; /* Alignement du texte */
}

.back-button:hover {
    color: #2c5282;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container.md {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Ajustement pour aligner les éléments au début de leur conteneur */
}

.image-gallery {
    width: 60%;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.indicator-button {
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    background-color: #cbd5e0;
    cursor: pointer;
    margin: 4px; /* Petit espace entre les boutons */
}

.indicator-button.active {
    background-color: #0061B1;
}

.details {
    width: 50%;
    margin-left: 20px; /* Espace entre les images et les détails */
}

.details h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0061B1;
    margin-bottom: 8px;
}

.details h3 {
    font-size: 18px;
    font-weight: bold;
    color: #0061B1;
    margin-bottom: 8px;
}

.text-detail {
    color: black;
}

.status-indicator {
    display: inline-block;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 8px;
}

.status-available {
    background-color: #0061B1;
}

.status-unavailable {
    background-color: #e53e3e;
}

.category {
    font-size: 20px;
    margin-bottom: 8px;
}

.description-box {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Assurez-vous que les éléments sont empilés verticalement */
}

.plus-button {
    background: none;
    color: #0061B1;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    padding: 0; /* Enlever le padding pour intégrer mieux dans le texte */
    display: inline; /* Pour s'assurer que le bouton apparaît dans le flux du texte */
    margin-left: 10px; /* Un peu d'espace après le texte de la description */
}

.action-button {
    background-color: #0061B1;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    border: none;
    cursor: pointer;
    margin: 3% 10% 3% 10%; /* Espace entre la description et le bouton Demander */
}

.description-border {
    border: 2px solid #0061B1;
    padding: 8px;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #0061B1;
    margin-bottom: 16px;
}

.action-button:hover {
    background-color: #2c5282;
}

.plus-button:hover {
    color: #2c5282; /* Changement de couleur du texte au survol */
}
