
.fablab-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 330px;
    padding: 20px;
    background-image: url('/src/assets/im2.jpeg');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* S'assure que le pseudo-élément ne dépasse pas du conteneur */
}

.fablab-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.251); /* Bleu avec une opacité très légère */
    z-index: 1; /* Assure que le filtre est en dessous du contenu textuel mais au-dessus de l'image de fond */
}

.fablab-section, .title-container, .hexagon-container {
    position: relative;
    z-index: 2; /* Assure que le texte et les hexagones sont au-dessus du filtre */
}

/* Styles restants pour title-container, hexagon-container, etc. */


.title-container {
    flex: 1; /* Prend la moitié de l'espace disponible */
    display: flex;
    justify-content: flex-start; /* Aligner le texte à gauche */
    align-items: center; /* Centrer verticalement le texte */
    padding-left: 20px; /* Ajoutez un padding à gauche pour ne pas coller le texte au bord */
}
.hexagon-container {
    flex: 1; /* Prend l'autre moitié de l'espace disponible */
    display: flex;
    justify-content: space-around; /* Espacement automatique entre les hexagones */
    align-items: center;
    width: 50%;
    height: 100%;
}

/* Style pour les hexagones */
.hexagon {
    position: relative; 
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-left: 20px; /* Espacement entre les hexagones */
}
/* Vous pouvez retirer les styles 'position: absolute' et autres transformations de '.hexagon' si vous souhaitez les positionner uniquement avec flexbox */


/* Vous pouvez ajuster la position de chaque hexagone ici, si nécessaire */
/* Position spécifique pour chaque hexagone */
.hexagon:nth-child(1) { /* Top hexagon */
    top: 25%; /* Monté plus haut */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Ajustement pour le centrage exact */
}

.hexagon:nth-child(2) { /* Bottom left hexagon */
    top: -7%; /* Descendu plus bas */
    left: -5%; /* Déplacé vers la gauche */
    transform: translateX(0); /* Ajustement pour l'alignement à gauche */
}

.hexagon:nth-child(3) { /* Bottom right hexagon */
    top: -7%; /* Descendu au même niveau que le hexagone de gauche */
    left: 5%; /* Déplacé vers la droite */
    transform: translateX(-100%); /* Ajustement pour l'alignement à droite */
}
.icon {
    font-size: 24px;
    color: #0061B1;
    margin-bottom: 8px;
}

.text-fab {
    font-size: 12px;
    color: #333333;
    text-align: center;
    font-weight: bold;
}

.fablab-title {
    position: relative;
    text-align: left; /* Alignement du texte à gauche */
    color: #FFFFFF; /* Texte en blanc */
    font-size: 36px; /* Taille du texte */
    font-weight: 500;
    z-index: 10; /* Assure que le texte est au-dessus de l'ombre et des hexagones */
}
.fablab-section {
    background-color: #ffffff; /* Couleur de fond */
    padding: 10px 40px; /* Padding pour l'espacement intérieur */
   margin-right: 50px;
   margin-left: 50px;
    position: relative;
    margin-top: -20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée appliquée ici */
}

.fablab-header {
    font-size: 24px; /* Taille de la police pour le titre */
    color: #0061B1; /* Couleur du texte pour le titre */
    margin-bottom: 10px; /* Espacement entre le titre et la description */
    margin-top: 5px;
    text-align: center; /* Centre le texte */
}

.fablab-description {
    font-size: 16px; /* Taille de la police pour la description */
    color: #000000; /* Couleur du texte pour la description */
    text-align: justify; /* Justifie le texte pour un alignement uniforme des deux côtés */
    line-height: 1.5; /* Hauteur de ligne pour améliorer la lisibilité */
    text-align: center;
    font-weight: 600;
}
.next-section {
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-content: space-between; /* Espacement entre les deux colonnes */
    align-items: center; /* Alignement vertical des contenus des colonnes */
/* Espacement amélioré autour de la section pour éviter chevauchement */
    min-height: 300px; /* Hauteur minimale pour éviter les chevauchements en cas de contenu peu élevé */
}

.column {
    flex: 1; /* Chaque colonne prend la moitié de l'espace disponible */
    padding: 20px; /* Espacement à l'intérieur de chaque colonne */
    display: flex;
    flex-direction: column; /* Pour assurer que le contenu de la colonne est bien structuré */
    justify-content: space-around; /* Distribue l'espace autour des éléments à l'intérieur */
}

.text-and-buttons {
    display: flex;
    flex-direction: column; /* Organise les éléments verticalement */
    align-items: center; /* Alignement à gauche des éléments */
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Place les boutons côte à côte */
    margin-top: 10px; /* Espacement entre le texte et les boutons */
}

.button1 {
    margin-right: 10px; /* Espacement entre les boutons */
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0061B1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}
.button2 {
    margin-right: 10px; /* Espacement entre les boutons */
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    color: #0061B1;
    border-color: #0061B1;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video-wrapper {
    position: relative;
    border-radius: 10px;  /* Coins arrondis */
    overflow: hidden;  /* Cache les débordements, important pour les coins arrondis */
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);  /* Ombre portée subtile */
}

video {
    width: 100%;
    display: block;  /* Évite les problèmes de marges internes */
    width: 440px;
    height: 404px;
}


.video-text{
    font-size: 32px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: left;
}
.video-text2{
    font-size: 32px;
    width: 400px;
    margin-top: 0px;
    color: #0061B1;
}

.button1,
.button2 {
  margin-right: 10px; /* Espacement entre les boutons */
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
}

.button1 {
  background-color: #0061B1;
  color: white;
}

.button1:hover {
  background-color: white;
  color: #0061B1;
  border: 1px solid #0061B1; /* Ajoute une bordure pour le bouton 1 sur hover */
}

.button1:active {
  background-color: white;
  color: #0061B1;
  border: 1px solid #0061B1; /* Ajoute une bordure pour le bouton 1 sur click */
}

.button2 {
  background-color: white;
  color: #0061B1;
  border: 1px solid #0061B1;
}

.button2:hover {
  background-color: #0061B1;
  color: white;
}

.button2:active {
  background-color: #0061B1;
  color: white;
}
