.pieces-electronics-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.pieces-title {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.pieces-search-bar {
  padding: 15px 20px;
  width: 14rem;
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  color: white;
}

.pieces-search-bar::placeholder {
  color: white;
}

.pieces-sidebar {
  position: absolute;
  top: 9.5rem;
  left: 10px;
  width: 20rem;
  height: 110%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 86px;
  gap: 2rem;
}

.pieces-search {
  background-color: #0061B1;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.pieces-submenu {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: white;

  border-radius: 3px;
  padding: 10px;
  width: 95%;
  list-style: none;
  z-index: 999;
}

.pieces-submenu li {
  cursor: pointer;
}

.pieces-submenu li:hover {
  background-color: #0061B1;
}

.pieces-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 23rem;
  margin-top: 3rem;
}

.pieces-card {
  margin: 8px;
  border: 2px solid #ededed;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 320px; /* Increased to accommodate new layout */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
  width: 25%;
  position: relative;
}

.pieces-card > img {
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height */
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Ensure images cover the area */
}

.pieces-card-details {
  text-align: center; /* Center text */
}

.pieces-card-review {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center; /* Center the review section */
  gap: 0.5rem;
}

.pieces-card-reviews {
  text-align: center; /* Center text */
  margin-bottom: 0.5rem;
}

.pieces-pagination {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-left: 15rem;
}

.pieces-pagination button {
  margin: 0 5px;
  padding: 4px 4px;
  font-size: 16px;
  border: none;
  background-color: #0061B1;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.pieces-pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.piece-status {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  z-index: 1; /* Ensure it is above the image */
}

.available {
  background-color: #297ABE;
}

.unavailable {
  background-color: red;
}

.pieces-title {
  font-size: 2em; /* Taille du texte */
  margin-top: 10px; /* Réduit l'espace au-dessus du titre */
  margin-bottom: 10px; /* Réduit l'espace en dessous du titre */
  text-align: center; /* Centre le texte */
  color: #0061B1; /* Couleur bleue du texte */
}
