.accordion-container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 3%;
    border-radius: 5px;
}
.accordion-container h1{
    padding: 10px;
    text-align: center;
    color: #0061B1;
}

.accordion-section {
    border-bottom: 1px solid #ccc;
}

.accordion-title {
    position: relative;
    color: #2D3436;
    padding-left: 30px; /* Ajoute de l'espace pour le point bleu */
    cursor: pointer;
    background: none;
    border: none;
    padding: 20px;
    width: calc(100% - 40px); /* Réduit la largeur totale en considérant une marge totale (gauche + droite) de 40px */
    margin: 0 20px; /* Ajoute une marge des deux côtés */
    text-align: left;
    font-size: 16px;
}

.accordion-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #0061B1; /* Couleur bleue pour le point */
    border-radius: 50%; /* Rend le point parfaitement rond */
    margin-right: 20px;
}


.arrow {
    position: absolute;
    right: 10px;
}

.up::after, .down::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(-50%);
}

.up::after {
    transform: translateY(-50%) rotate(-135deg);
}

.down::after {
    transform: translateY(-50%) rotate(45deg);
}

.accordion-content {
    padding: 20px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
