.SidebarFullContainer{
    width: 350px;
    box-shadow: 2px 5px 20px rgba(81, 80, 80, 0.5);
    margin: 0 ;
    font-family: "Open Sans", sans-serif;
}
.SidebarListItem{
    padding:10px 5px;
    list-style-type: none;
    color: rgb(77, 76, 76);
}
.SidebarListSubItem{
    color: black;
    padding:10px 20px;
}
.active{
    background-color: #0061B1;
}
.SidebarListItemIcon{
    margin-right: 10px;
}