/* AdminPage.css */
/* AdminPage.css */
.admin-page-container {
    display: flex;
    width: 100%; /* Utilise toute la largeur de la vue */
}
.sidebar {
    margin-top: 2%;
    width: 30%; /* Largeur du sidebar à 20% de la vue */
    height: fit-content;
    padding: 0%;
    height: 100vh; /* S'assure que le sidebar atteint la hauteur de la fenêtre */
    box-sizing: border-box; /* Inclut padding et bordure dans la largeur totale */
}
/* Supprime le soulignement et change la couleur des liens */
.sidebar a {
    text-decoration: none; /* Supprime le soulignement */
    color: black; /* Change la couleur des liens, mettez la couleur que vous souhaitez */
}

/* Ajoute un style pour les liens au survol */
.sidebar a:hover {
    
    color: #0056b3; /* Change la couleur au survol */
}


.admin-container {
    width: 70%;
    margin: 5%;  /* Applique une marge de 5% tout autour */
    padding: 2%; /* Padding de 2% pour le contenu interne */
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet subtil */
    border-radius: 5px; /* Bordures arrondies pour un design plus doux */
    box-sizing: border-box; /* Inclut padding et bordure dans la largeur et hauteur totales */
}
