.piece-card {
    border: 1px solid #e2e8f0; /* couleur de bordure légère */
    border-radius: 0.5rem; /* arrondi des coins */
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* légère ombre portée */
    padding: 1rem; /* padding intérieur */
    background-color: white; /* fond blanc */
  }
  
  .piece-image {
    width: 100%;
    height: 192px; /* hauteur fixe pour les images */
    object-fit: cover; /* pour couvrir tout l'espace sans déformer l'image */
    margin-bottom: 1rem; /* espace sous l'image */
  }
  
  .piece-header {
    display: flex;
    justify-content: space-between; /* espace entre les éléments */
    align-items: center; /* alignement vertical */
    margin-bottom: 1rem; /* espace sous le header */
  }
  
  .piece-header h5 {
    font-size: 1.125rem; /* taille de police pour le nom */
    font-weight: bold; /* texte en gras */
  }
  
  .piece-icon {
    color: green; /* par défaut, pour disponible */
  }
  
  .piece-icon.unavailable {
    color: red; /* pour non disponible */
  }
  
  .piece-details {
    font-size: 0.875rem; /* taille de police pour les détails */
  }
  
  .piece-details p {
    color: #4a5568; /* couleur gris foncé pour la catégorie */
    margin-bottom: 0.5rem; /* espace sous chaque détail */
  }
  
  .piece-stock {
    color: #718096; /* couleur gris pour le stock */
  }
  
  .piece-button {
    background-color: #0061B1; /* couleur orange du bouton */
    color: white; /* texte blanc */
    font-weight: bold;
    padding: 0.5rem 1rem; /* padding du bouton */
    width: 100%; /* largeur complète */
    border-radius: 0.25rem; /* coins arrondis */
    margin-top: 1rem; /* espace au-dessus du bouton */
    cursor: pointer; /* curseur pointeur */
    text-align: center; /* centrer le texte */
    border-width: 0px;
  }
  
  .piece-button:hover {
    background-color: #0061B1; /* assombrir le bouton au survol */
  }
  