.react-calendar {
    width: 320px !important;
    max-width: 100%;
    border:none !important;
    font-family:"Cairo", sans-serif !important;
    line-height: 1em !important;
    padding: 10px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.1em !important;
  }
  .calendar-container{
    margin: 8px;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    font-size: 12px;
  }
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #0061B1 !important;
  color: white !important;
}
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter !important;
    font-size: 0.76em;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #0061B1 !important;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575 !important;
  }
  .react-calendar__tile--now {
    color: white !important;
    border-radius: 50% !important;
    background-color: #0061B1 !important;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: #0061B1;
  }
  .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #0061B1 !important;
  color: white !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #797979;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #0061B1 !important;
    color: white !important;
}
