.ebachelier{
  background-color: #F9F9F9;
}
.bachelier-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #0061B1;
  width: 100%;
  height: 50vh; /* Utiliser des unités relatives pour la hauteur */
   overflow: hidden;
  z-index: 60;
}

.network-message {
  position: absolute;
  top: 2%; /* Utiliser des unités relatives */
  left: 2%; /* Aligné à gauche sans décalage horizontal */
  color: white;
  text-align: left;
  font-size: 3vw; /* Taille de la police relative */
  font-weight: bold;
  width: 40%; /* Assure que le texte est aligné à gauche du conteneur */
  z-index: 1;
}

.network {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 20%; /* Pousse le réseau vers la droite */
}

.connections {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
  .bachelier-container {
    height: 35vh; /* Ajuster la hauteur pour les tablettes */
  }
  .network-message {
    font-size: 3vw; /* Réduire la taille de la police */
    width: 40%; /* Augmenter la largeur pour une meilleure lisibilité */
  }
  .network {
    margin-left: 20%; /* Réduire la marge pour plus d'espace */
  }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
  .bachelier-container {
    height: 35vh; /* Ajuster la hauteur pour les mobiles */
  }
  .network-message {
    font-size: 3vw; /* Taille de police encore plus petite pour les petits écrans */
    width: 40%; /* Utiliser plus de l'espace disponible */
  }
  .network {
    margin-left: 20%; /* Supprimer la marge gauche pour maximiser l'utilisation de l'espace */
  }
}

.fablab-section, .bachelier-container {
  position: relative;
  z-index: 2; /* Assure que le texte et les hexagones sont au-dessus du filtre */
}
.fablab-section {
  background-color: #ffffff; /* Couleur de fond */
  padding: 10px 40px; /* Padding pour l'espacement intérieur */
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
  margin-top: -20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée appliquée ici */
}
.fablab-header {
  font-size: 2.4vw; /* Taille de la police relative */
  color: #0061B1; /* Couleur du texte pour le titre */
  margin-bottom: 10px; /* Espacement entre le titre et la description */
  margin-top: 5px;
  text-align: center; /* Centre le texte */
}

.fablab-description {
  font-size: 1.6vw; /* Taille de la police relative */
  color: #000000; /* Couleur du texte pour la description */
  text-align: justify; /* Justifie le texte pour un alignement uniforme des deux côtés */
  line-height: 1.5; /* Hauteur de ligne pour améliorer la lisibilité */
  text-align: center;
  font-weight: 600;
}

.ingenium-connect-container {
  display: flex;
  background-color: #0061B1;
  margin: 50px;
  position: relative;
  overflow: hidden; /* Pour éviter que les éléments débordent hors du conteneur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre portée */
}

.ingenium-connect-text, .ingenium-connect-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Allocation équitable de l'espace */
  padding: 20px;
}

.ingenium-connect-text {
  color: white;
}

.ingenium-connect-logo {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.ingenium-connect-logo button {
  font-size: 2vw; /* Taille de la police relative */
  border: none;
  background-color: #0061B1;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.ingenium-connect-logo button:hover {
  background-color: #002060;
}

.guide-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 20px;
}

.guide-title {
  font-size: 3vw; /* Taille de la police relative */
  color: #0061B1;
  margin-bottom: 60px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  width: 25%;
  border: 1px solid #A9CEF4;
  height: 250px;
  border-radius: 10px;
  font-size: 2.6vw; /* Taille de la police relative */
  font-weight: bold;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.card p {
 margin: 60px 0 0 0;
}
.card:hover {
  transform: translateY(-5px);
}

.icon-circle {
  height: 50px;
  width: 50px;
  background-color: #0061B1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  color: white;
  font-size: 2.4vw; /* Taille de la police relative */
}

.read-more-button {
  background-color: #0061B1;
  color: white;
  font-size: 2vw; /* Taille de la police relative */
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.read-more-button:hover {
  background-color: #002060;
}

.gallery-grid {
  display: grid;
  background-color: #F0F7FD; /* Couleur de fond générale de la grille */
  grid-template-columns: repeat(3, 1fr); /* Crée trois colonnes */
  grid-gap: 0; /* Aucun espace entre les cellules */
  width: calc(100% - 20%); /* Ajuster pour prendre en compte la marge */
  margin: 2% 10% 2% 10%; /* Marge de 2% de tous les côtés */
  box-sizing: border-box;
  justify-content: center;
}


.grid-item {
  position: relative; /* Permet le positionnement absolu à l'intérieur de chaque élément */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*padding: 20px; /* Marge intérieure de chaque élément de grille */
}


.grid-item.text{
padding: 4%;
}

.grid-item.image {
  background-size: cover;
  width: 100%;
  background-position: center;
}

/* Couleurs spécifiques pour chaque case */
.grid-item:nth-child(4) { background-color: #F0F7FD; color: #000000; } /* Bleu */
.grid-item:nth-child(2) { background-color: #0061B1; } /* Jaune */
.grid-item:nth-child(6) { background-color: #000000; } /* Violet */

.buttonn {
  padding: 10px;
  cursor: pointer;
  background: none;
  font-weight: bold;
  transition: background-color 0.3s;
  align-self: start; /* Alignez le bouton au début du conteneur flex */
  color: white;
  border: none;
}

/* Appliquez les couleurs aux boutons en fonction de leur case */
.grid-item:nth-child(4) .buttonn { color: #0061B1; } /* Bleu plus foncé */
.grid-item:nth-child(2) .buttonn { color: white;} /* Jaune plus foncé */
.grid-item:nth-child(6) .buttonn { color: #0061B1; } /* Violet plus foncé */

/* Appliquez les couleurs aux h2 en fonction de leur case */
.grid-item:nth-child(2) h2 { color: white; } /* Jaune pour le premier texte */
.grid-item:nth-child(4) h2 { color: #0061B1; } /* Bleu pour le deuxième texte */
.grid-item:nth-child(6) h2 { color: #0061B1; } /* Violet pour le troisième texte */

.testimonials-container {
  max-width: 900px;
  margin: 40px auto;
  text-align: left;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0061B1;
  padding: 20px;
}
.testimonials-header p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707070;
  padding: 20px;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around; /* Espacement équitable entre les cartes */
  gap: 20px; /* Espace entre les cartes */
}

.testimonial-card {
  flex: 1; /* Distribue l'espace équitablement entre les cartes */
  background-color: #a9cff441; /* Fond gris pour chaque témoignage */
  border-radius: 10px; /* Coins arrondis */
  padding: 20px;
  flex-direction: row; /* Change flex direction to row */
  align-items: center; /* Align items vertically in the center */
  justify-content: flex-start; /* Align items horizontally to the start */
  gap: 15px; /* Space between elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
}
.testimonial-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the start */
}

.testimonial-text {
  font-size: 1.6vw; /* Taille de la police relative */
  color: #616161;
  margin-bottom: 20px; /* Espacement avant le nom */
}

.testimonial-name {
  font-size: 1.8vw; /* Taille de la police relative */
  font-weight: bold;
  color: #0061B1;
}

.testimonial-role {
  font-size: 1.6vw; /* Taille de la police relative */
  color: #757575;
  font-style: italic;
}
.testimonial-image {
  width: 70px; /* Largeur de l'image */
  height: 70px; /* Hauteur de l'image */
  border-radius: 50%; /* Rend l'image ronde */
  background-size: cover; /* S'assure que l'image couvre le div */
  background-position: center; /* Centre l'image dans le div */
  margin-bottom: 10px; /* Espacement entre l'image et le texte */
}
.navigation {
  display: flex;
  justify-content: center; /* Centrer les boutons horizontalement */
  align-items: center; /* Centrer les boutons verticalement */
  gap: 20px; /* Espacement entre les boutons */
  margin-top: 20px; /* Espacement au-dessus des boutons */
}

.navigation button {
  background-color: #f0f7fd; /* Fond clair */
  border: none;
  width: 40px; /* Taille du bouton */
  height: 40px; /* Taille du bouton */
  border-radius: 50%; /* Rendre le bouton circulaire */
  display: flex;
  justify-content: center; /* Centrer l'icône horizontalement */
  align-items: center; /* Centrer l'icône verticalement */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce pour le relief */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transition pour survol */
}

.navigation button:hover {
  background-color: #e6efff; /* Couleur de survol */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée pour survol */
}

.navigation button:focus {
  outline: none; /* Supprimer le contour lors de la sélection */
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
  .fablab-header, .guide-title, .testimonial-name, .testimonial-role, .testimonial-text, .card, .read-more-button, .ingenium-connect-logo button, .icon-circle {
    font-size: 2vw; /* Ajuster la taille de la police pour les tablettes */
  }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
  .fablab-header, .guide-title, .testimonial-name, .testimonial-role, .testimonial-text, .card, .read-more-button, .ingenium-connect-logo button, .icon-circle {
    font-size: 4vw; /* Ajuster la taille de la police pour les mobiles */
  }
}
