
.recommended-container {
    margin-left: auto; /* La marge à gauche sera automatiquement calculée */
    margin-right: auto; /* La marge à droite sera automatiquement calculée */
    max-width: 1200px; /* Largeur maximale du contenu pour éviter l'étirement excessif sur les grands écrans */
}


.recommended-title{
    margin-left:18rem;
    position:relative;
    text-align: center;
    margin-bottom:25px;
    margin-top:20px;
    font-size:28px;
    font-family: Open sans-serif;
    color:#0061B1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);

}
.recommended-flex{
    display:flex;
    margin-left:27rem;
    gap:8rem;
    font-size:18px;
}
.lien {
    text-decoration: none; /* Pour supprimer le soulignement par défaut */
}

.lien {
    text-decoration: none; /* Pour supprimer le soulignement par défaut */
}

.lien:hover {
    text-decoration: underline; 
    text-decoration-color: #0061B1;  
    text-underline-offset: 0.3em; 
}

.lien:active {
    color: inherit; 
    text-decoration-color: #0061B1; 
   
 }  
 .card-container{
    display:flex;
    flex-wrap:wrap;
    margin-left:18rem;
    margin-top:1rem;
    z-index:-2;
}
.card {
    margin: 8px;
    border: 2px solid #ededed;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 325px; /* Définissez une hauteur fixe pour chaque carte */
    display: flex;
    
    /* flex-direction: column;  *//* Assurez-vous que le contenu se comporte correctement à l'intérieur de la carte */
    width:31.45%;
    flex-direction: column; /* Assurez-vous que le contenu se comporte correctement à l'intérieur de la carte */
}
.card > img {
    width:11rem;
    max-width: 100%; /* Pour garantir que l'image ne dépasse pas la largeur de la carte */
    max-height: 150px; /* Définir une hauteur maximale pour l'image */
    display: block; /* Pour centrer l'image horizontalement */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.title{
    margin-bottom:0.15rem;
    color:#0061B1;
    text-align:center;

}
.card-reviews{
    margin-bottom:0.5rem;
    display:fex;
    gap:0.5rem;
}

.card-review{
    text-align:center;
    margin-bottom:0.10rem;
}

.image-container {
    display: flex; /* Utiliser un modèle de boîte flexible */
    justify-content: center; /* Centrer l'image horizontalement */
    align-items: center; /* Centrer l'image verticalement */
    margin-top: 40px; /* Déplacer l'image vers le bas de 20px (ajustez selon vos besoins) */
}


.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0061B1;
    margin-right: 5px; /* Pour ajouter de l'espace entre l'icône et le texte */
}

.icon-circle svg {
    color: white; 
    width:1000%;
    height:50%;
    padding-left:5px;
    /* padding-bottom:2px; */
    
}

.sidebar {
    top: 1rem; /* Pour positionner la barre latérale en haut de la fenêtre */
    left: 0px; /* Réglez la position de gauche */
    width: 26%; /* Utilisez toute la largeur de la fenêtre */
    height: 100%; /* Utilisez toute la hauteur de la fenêtre */
    z-index: 3; /* Assurez-vous que la barre latérale est au-dessus des autres éléments */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top:80px; /* Utilisez une valeur négative pour déplacer la barre latérale vers le haut */
    margin-left :20px;
    gap: 2rem;}

.search {
    background-color: #0061B1;
    border-radius: 5px;
    display:flex;
    position:relative;
}

.search-bar {
    padding: 15px 20px;
    width:100%;
    border: none;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
    color: white; 
    background-color: transparent; 
    font-size:1rem;
   
   
   

}
.search-bar::placeholder {
    color: white; 
}



.submenu {
    position: absolute; /* Modifier le positionnement en absolu */
    top: 100%; /* Positionner le sous-menu sous le conteneur */
    left: 0; /* Aligner le sous-menu à gauche */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width:100%;
    list-style: none;
    z-index: 999;
}


.submenu li {
    cursor: pointer;
}

.submenu li:hover {
    background-color: #f0f0f0;
}


