.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: linear-gradient(to right, #ffffff, #becced); /* Dégradé bleu nuit galactique */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.full-cover {
  width: 100%;  /* Assure que l'image prend toute la largeur de son conteneur */
  height: 100%; /* Assure que l'image prend toute la hauteur de son conteneur */
  object-fit: cover; /* Assure que l'image couvre l'espace disponible sans déformation */
}
.carousel-slide {
    display: flex;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition-property: all;
    transition-duration: 1000ms; /* Animation douce de la transition */
    transition: transform 3s ease-in-out; /* Animation douce */
    will-change: transform; /* Optimisation de la performance */
}

.carousel-slide-hidden {
    opacity: 0;
    visibility: hidden; /* Cache complètement l'élément non visible pour améliorer l'accessibilité */
}

.carousel-slide-visible {
    opacity: 1;
    visibility: visible;
}

.carousel-image-container {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: circle(64.5% at 64% 50%);
}

/* Placez l'image en premier dans la pile de rendu. */
.carousel-image-container img {
  position: absolute; /* Changez de relative à absolute */
  right: 0;            /* Ancrer l'image à droite */
  top: 0;              /* Ancrer l'image en haut pour qu'elle remplisse correctement */
  width: 96%;         /* Utilisez 100% pour occuper toute la largeur du conteneur */
  height: 100%;        /* Utilisez 100% pour occuper toute la hauteur du conteneur */
  object-fit: cover;   /* S'assurer que l'image couvre l'espace sans déformer */
  clip-path: circle(64.5% at 64% 50%);
  z-index: 2;          /* Plus élevé que les pseudo-éléments */
}


/* Ensuite, positionnez le ::before qui créera la forme arrondie en arrière-plan. */
.carousel-image-container::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  /* Dégradé vibrant du jaune vif au orange */
  background: linear-gradient(to bottom, #75aae2, #0056b3); /* Transition du jaune doré au orange */
  clip-path: circle(64.5% at 64% 50%);
  z-index: 1; /* Inférieur à l'image pour s'assurer qu'il apparaît en dessous */
}


/* Puis, le ::after pour ajouter un effet de bordure si nécessaire. */
.carousel-image-container::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  background-color: transparent; /* Faites ceci transparent pour éviter de couvrir l'image */
  clip-path: circle(63% at 64% 50%);
  z-index: 1; /* Assurez-vous que cela ne couvre pas l'image */
}

.carousel-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Polices sans-serif communes */
  color: black;
  width: 30%;
  padding: 5% 0 0 5%;
}

.carousel-heading {
  font-size: 2em; /* Taille plus grande pour le titre */
  font-weight: 100; /* Rendre le titre gras */
  margin: 2% 0 0 0;
}

.carousel-subheading {
  font-size: 3em;
  color: black;
  margin: 3% 0 0 0 ;
}

.carousel-content {
  font-size: 16px;
  line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
}



@media (max-width: 200px) {
  .carousel {
      height: auto; /* Ajustement de la hauteur pour les petits écrans */
  }
  .carousel-image-container {
      width: 70%; /* Les images utilisent toute la largeur disponible */
      clip-path: circle(64.5% at 64% 50%); /* Forme dynamique pour l'image */
  }
  .carousel-text {
      width: 30%; /* Le texte utilise également toute la largeur disponible */
      padding: 15px; /* Padding réduit pour économiser de l'espace */
      clip-path: none; /* Suppression des formes complexes qui pourraient ne pas bien rendre sur petits écrans */
  }
  .carousel-indicators {
      gap: 10px; /* Réduire l'espacement entre les indicateurs */
      bottom: 10px; /* Positionner plus bas sur la vue */
      left: 50%; /* Centrer les indicateurs horizontalement */
      transform: translateX(-50%); /* Correction pour centrer parfaitement */
      width: 100%; /* S'assurer que le conteneur s'étend sur toute la largeur */
  }
  .carousel-indicator-button {
      font-size: 1rem; /* Réduire la taille des polices pour les boutons */
  }
  .post-carousel-separator {
    height: 30px; /* Hauteur réduite pour les petits écrans */
    margin-top: 10px; /* Espace réduit pour les petits écrans */
}
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: absolute; /* Positionne absolument par rapport à son parent .carousel */
    bottom: 2vw; /* 2% de la largeur de la fenêtre du viewport depuis le bas */
  }
  
  .carousel-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-indicator-button {
    background: none;
    border: none;
    color: #0056b3; /* Maintains the blue color theme */
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s; /* Ensures smooth transition */
}

.carousel-indicator-container.active .carousel-indicator-button {
    transform: scale(1.5); /* Increases size to 125% when active */
}

.carousel-indicator-container:not(.active) .carousel-indicator-button {
    transform: scale(1); /* Normal size when not active */
}

.carousel-indicator-button:hover,
.carousel-indicator-button:focus {
    color: #003d7a; /* Darker blue on hover/focus for better visibility */
    background: none;
}

  
  .carousel-indicator-line {
    width: 2px;
    height: 20px;
    background-color: #0056b3;
    margin-top: 5px;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .carousel-indicator-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0056b3;
    margin-top: 5px;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .carousel-indicator-container.active .carousel-indicator-line,
  .carousel-indicator-container.active .carousel-indicator-dot {
    transform: scaleY(1.5);
    opacity: 1;
  }
  
  .carousel-indicator-container:not(.active) .carousel-indicator-line,
  .carousel-indicator-container:not(.active) .carousel-indicator-dot {
    opacity: 0;
    transform: scaleY(0.5);
  }
  .flex-grow-relative {
    position: relative; /* équivalent de 'relative' en Tailwind */
    flex-grow: 1;       /* équivalent de 'flex-grow' en Tailwind */
}