/* Styles.css */
.effectifs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.effectifs-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0056b3;
}

.effectifs-line {
    width: 2px;
    height: 300px;
    background-color: #0056b3;
    position: relative;
}

.effectif {
    display: flex;
    align-items: center;
    position: absolute;
   
}

.effectif.left {
    justify-content: flex-end;
    right: 50%;
    margin-right: 20px;
}

.effectif.right {
    justify-content: flex-start;
    left: 50%;
    margin-left: 20px;
}

.effectif-icon {
   font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: #0056b3; /* Fond blanc pour les icônes */
    justify-content: center;
    padding: 10px; /* Espacement interne */
    border-radius: 3px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Ombre légère pour une apparence élévée */
    width: fit-content; /* Largeur automatique basée sur le contenu */
    color: black; /* Icônes en bleu */
}

.effectif-text {
    color: black;
    font-size: 16px;
    padding-left: 10px; /* Espacement entre l'icône et le texte */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .effectif {
        flex-direction: column;
        align-items: center;
    }

    .effectif.left, .effectif.right {
        justify-content: center;
        right: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .effectif-text {
        padding-left: 0;
        text-align: center;
    }
}
