/* BoxComponent.css */
.box-container {
  display: flex;
  background-color: #1E1E1E;
  width: 80%;
  align-items: center;
  justify-content: space-between;
 padding: 20px;
  margin: 0 10% 5% 10%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-container img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

/* Styles pour le texte et le bouton */
.box-text {
  font-family: 'Arial', sans-serif; /* Choisir une police accessible et lisible */
  color: white; /* Couleur de texte sombre pour une meilleure lisibilité */
  font-size: 1.1rem; /* Taille de la police appropriée */
  line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
  padding: 20px; /* Padding pour donner de l'espace autour du texte */
  background-color: none; /* Fond blanc pour contraster avec le texte sombre */
}

.box-text ul {
  padding: 0;
  list-style: none; /* Retirer les puces par défaut */
  margin: 20px 0; /* Marge autour de la liste pour séparation */
}

.box-text li {
  padding-left: 1.4em; /* Espacement à gauche pour la puce */
  text-indent: -1.4em; /* Aligner le texte avec le contenu au-dessus */
  margin-bottom: 10px; /* Espacement entre les éléments de liste */
}

.box-text li::before {
  content: '•'; /* Caractère utilisé pour la puce */
  color: #0056b3; /* Couleur de la puce pour correspondre au style général */
  font-size: 1em; /* Taille de la puce */
  padding-right: 10px; /* Espacement entre la puce et le texte */
  vertical-align: middle; /* Alignement vertical de la puce avec le texte */
}


.more-info-button {
  padding: 8px 16px; /* Réduisez le padding pour un bouton plus petit */
  font-size: 0.9rem; /* Ajustez la taille de la police si nécessaire */
  background-color: #0056b3;
  width: 50%;
  color: white;
  border: none;
  border-radius: 4px; /* Bordures légèrement arrondies */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Ajoutez une marge en haut pour séparer du texte */
}

.more-info-button:hover {
  background-color: #003d7a; /* Assombrir le bouton au survol */
}



/* Pour les médias plus petits, passez à une disposition en colonne */
@media (max-width: 768px) {
  .box-container {
      flex-direction: column;
      text-align: center;
  }

  .box-container img, .box-text {
      width: 100%;
  }
}

.image-left .box-text {
  margin-right: 20px; /* Espacement entre le texte et l'image lorsque l'image est à gauche */
}

.image-right .box-text {
  margin-left: 20px; /* Espacement entre le texte et l'image lorsque l'image est à droite */
  order: 1; /* Change l'ordre pour que le texte soit avant l'image */
}

.image-right img {
  order: 2; /* L'image suit le texte dans la disposition */
}
