.AdminRoot {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width to avoid stretching */
  margin: auto; /* Center horizontally */
  min-height: 673px; /* Ensure a minimum height */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.AdminTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.AdminTitle {
  font-size: 24px;
  margin-left: 10px;
}

.AdminContainer {
  display: block;
  width: 100%;
}

.AdminInputGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}


.AdminInputContainer {
  flex: 1;
}

.AdminLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.AdminInput, .AdminTextarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.AdminInputContainer.half-width {
  flex: 1 1 48%;
}

.AdminTextarea1 {
  height: 80px;
  resize: vertical;
}

.AdminFileContainer {
  padding: 20px;
  background-color: #f4f4f6;
  border-radius: 8px;
  margin-top: 20px;
}

.upload-button, .add-section-button, .AdminCancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button {
  background-color: #007bff;
  color: white;
}

.upload-button:hover {
  background-color: #0056b3;
}

.add-section-button {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
}

.add-section-button:hover {
  background-color: #218838;
}

.AdminCancelButton {
  background-color: #f8f9fa;
  color: #333;
}

.AdminCancelButton:hover {
  background-color: #e2e6ea;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.AdminFilePreview {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .AdminRoot {
    flex-direction: column;
  }

  .AdminInput, .AdminTextarea {
    width: 100%; /* Ensure full width on smaller screens */
  }

  .AdminInputGroup {
    flex-direction: column;
  }

  .AdminInputContainer.half-width {
    flex: 1 1 100%;
  }
}
/* Conteneur pour l'image prévisualisée avec boutons */
.image-preview-container1 {
  position: relative;
  display: inline-flex; /* Changed to inline-flex to align buttons side by side */
  align-items: flex-start; /* Align items at the start of the container */
}

/* Image prévisualisée */
.image-preview {
  width: 220px; /* Size reduced for the image */
  height: 220px; /* Size reduced for the image */
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

/* Conteneur des boutons d'édition et de suppression */
.image-buttons-container {
  position: absolute;
  right: 0%;
  display: flex; 
  gap: 8px; 
}

/* Bouton pour éditer la photo */
.edit-photo-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px; 
}
/* Bouton pour supprimer la photo */
.remove-photo-button {
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px; 
}
