


.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
/* Supprime le soulignement et change la couleur des liens */
.sidebar a {
    text-decoration: none; /* Supprime le soulignement */
    color: black; /* Change la couleur des liens, mettez la couleur que vous souhaitez */
}

/* Ajoute un style pour les liens au survol */
.sidebar a:hover {
    
    color: #0056b3; /* Change la couleur au survol */
}


.admin-header h1 {
    display: flex;
    align-items: center; /* Centre l'icône verticalement avec le texte */
    color: #0061B1;
    font-size: 24px;
    margin: 0;
}

.admin-header h1 svg {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
    color: #0061B1; /* Couleur de l'icône */
}

.search-input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-table {
    width: 100%;
    margin-top: 20px;
}

.admin-table-header {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    padding: 10px 0;
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}

.admin-table td {
    padding: 12px;
    text-align: left;
    border: none;
}

.admin-table tr {
    background-color: #F6F7FE;
    margin-bottom: 10px;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr; /* Keep the column sizes consistent */
    align-items: center;
    border-radius: 5px;
    color: #8F9BBA;
}
.admin-table th {
    padding: 12px 12px 12px 12px ;
    color: #454648;
}

/* Styles pour le conteneur des boutons */
.action-buttons {
    display: flex; /* Utilisez flexbox pour aligner les éléments enfants */
    gap: 10px; /* Espace entre les boutons */
    position: relative;
}

/* Style des boutons */
.action-buttons button {
    padding: 6px 12px; /* Ajustement du padding pour un meilleur design */
    font-size: 14px; /* Taille de la police pour les boutons */
    line-height: 1.5; /* Hauteur de ligne pour le texte dans les boutons */
    background-color: #f9f9f9; /* Couleur de fond du bouton */
    cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton cliquable */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur de fond */
    border-radius: 4px; /* Bordures arrondies pour les boutons */
}

/* Tooltip styles */
.action-buttons button::after {
    content: attr(data-tooltip); /* Utilise l'attribut data-tooltip pour le texte du tooltip */
    position: absolute;
    width: 100%;
    bottom: 100%; /* Positionne le tooltip au-dessus du bouton */
    left: 50%; /* Centre le tooltip horizontalement par rapport au bouton */
    transform: translateX(-50%); /* Ajuste la position horizontale pour centrer */
    background-color: #333; /* Couleur de fond du tooltip */
    color: #fff; /* Couleur du texte dans le tooltip */
    padding: 5px 8px; /* Padding autour du texte du tooltip */
    border-radius: 4px; /* Bordures arrondies pour le tooltip */
    opacity: 0; /* Rend le tooltip invisible par défaut */
    visibility: hidden; /* Cache le tooltip par défaut */
    transition: opacity 0.3s, visibility 0.3s; /* Transitions pour l'opacité et la visibilité */
}

.action-buttons button:hover::after {
    opacity: 1; /* Rend le tooltip visible au survol */
    visibility: visible; /* Assure que le tooltip devient visible */
}


.approve, .reject {
    border: none;
    background: none;
    margin-top: 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 10px; /* Ajustement du padding pour un meilleur visuel */
    line-height: 1; /* Assurez-vous que la hauteur de ligne ne déforme pas l'alignement */
}

.approve {
    color: green;
    margin-right: 10px; /* Espacement entre les boutons */
}

.reject {
    color: red;
}
.approve:hover{
    background-color: #0061B1;
    color: #f0f0f0;
}
.reject:hover{
    background-color: #0061B1;
    color: #f0f0f0;
}

/* Overlay for the modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

/* Modal content container */
.modal-content {
    position: relative; /* To position the close button absolutely within */
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 80%; /* Limit the height to 80% of viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close-button:hover {
    color: #000;
}

/* Image styling within the modal */
.image-container {
    margin-top: 20px;
    text-align: center; /* Center the image */
}

.publication-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Optional: Enhance table row hover effect */
.admin-table tbody tr:hover {
    background-color: #f1f1f1;
}


