.inscription-page-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 30%;
  margin: 1%;
  padding: 2%;
  height: 100vh;
  box-sizing: border-box;
}

.admin-container {
  width: 70%;
  margin: 5%;
  padding: 2%;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-header h1 {
  display: flex;
  align-items: center;
  color: #0061B1;
  font-size: 24px;
  margin: 0;
}

.admin-header h1 svg {
  margin-right: 10px;
  color: #0061B1;
}

.search-input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.admin-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-table th,
.admin-table td {
  padding: 12px;
  text-align: left;
  border: none;
}

.admin-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-table tr {
  background-color: #F6F7FE;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border-radius: 5px;
  color: #8F9BBA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-buttons {
  display: flex;
  gap: 1%;
  position: relative;
}

.action-buttons button {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.action-buttons button::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.action-buttons button:hover::after {
  opacity: 1;
  visibility: visible;
}

.approve,
.reject {
  border: none;
  font-weight: bold;
  background: none;
  margin-top: 0px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

.approve {
  color: green;
}

.reject {
  color: red;
}

.approve:hover {
  background-color: #0061B1;
  color: #f0f0f0;
}

.reject:hover {
  background-color: #0061B1;
  color: #f0f0f0;
}
